@{
    ViewBag.Title = "Core Values";
}
<div class="well">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <br />
</div>



<div class="core-values-main">
    <div class="well">Commit to delivery excellence</div>
    <div class="well">Embrace integrity and openness</div>
    <div class="well">Practice responsible stewardship</div>
    <div class="well">Invest in an exceptional culture</div>
    <div class="well">Ignite passion for the greater good</div>
    <div class="well">Strive to Innovate</div>
    <div class="well">Live a balanced life</div>
</div>

