@{
    ViewBag.Title = "Centric Employee Recognition";
}

<div class="jumbotron">
    <h1>Centric Consulting Peer Evaluation</h1>
    <p class="lead">Welcome to Centric Consulting employee recognition platform. Acknowledge your coworkers representation of Centric's Core Values.</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-lg">Learn more &raquo;</a></p>
</div>

<div class="well">
    <div class="row">
        <div class="col-md-4">
            <h2>Recognize Peers</h2>
            <p>
                Encourage and promote your peers for following Centric's core values.
            </p>
            <p><a href="" class="btn btn-lg">Learn more &raquo;</a></p>

        </div>
        <div class="col-md-4">
                <h2>Earn Points</h2>

                <p>
                    Earn points by completing peer evaluations and receiving regognition for living out Centric's core values.
                </p>

        </div>
        <div class="col-md-4">
            <h2>Get Rewards</h2>
            <p>
                After accruing enough points you will be able to claim rewards!
            </p>

        </div>
    </div>
</div>